DEBUG = False
TESTING = False
CASSANDRA_HOSTS = ['cassandra1']
CASSANDRA_KEYSPACE = 'player_sessions_docker'
#CASSANDRA_SETUP_KWARGS = {'protocol_version': 3} # Pass-through keyword arguments for Cluster()
#CASSANDRA_CONSISTENCY = 'QUORUM'
#CASSANDRA_LAZY_CONNECT = True # True if should not connect until first use
#CASSANDRA_RETRY_CONNEC = False # True if we should retry to connect even if
                              #there was a connection failure initially
SECRET_KEY = 'changemetosomethingsecret'
SERVER_NAME = '0.0.0.0'